.project-section {
  background-image: var(--section-background-color) !important;
  color: white !important;
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1%;
  grid-column-gap: 1%;
}

@media only screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
